<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admin/recipes']">List</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/recipes/info/' + recipe.id]">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <app-edit-recipe-form [recipe]="recipe"></app-edit-recipe-form>
  </div>
</div>
