<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [href]="'/complexity-levels'">List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
      </ol>
    </nav>
    <app-category-details [id]="id"></app-category-details>
    <div class="row">
      <div class="col-md-6">
        <button (click)="goToEditPage()" type="button" class="btn btn-primary btn-success">Edit</button>
        <button (click)="confirmDelete()" type="button" class="btn btn-danger btn-success">Delete</button>
      </div>
    </div>
  </div>
</div>