<div class="row">
  <div class="container mb-5">
    <h2><i class="nc-icon nc-zoom-split text-danger ml-2"></i> Find your category</h2>
  </div>
</div>

<form @fadeInAnimation [formGroup]="filterForm" autocomplete="off" (submit)="filterCategories()">
  <div class="row">
    <div class="col-lg-6 col-md-6  ">
      <div class="form-group">
        <label>Keyword</label>
        <input type="text" class="form-control" formControlName="keyword" placeholder="enter keyword here...">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 text-center">
      <button [disabled]="filterForm.invalid" type="submit" class="btn btn-primary btn-block">
        Search <i class="nc-icon nc-zoom-split ml-2"></i></button>
    </div>
  </div>
</form>

<div class="row" *ngIf="loadingData">
  Loading categories...
</div>

<div @fadeInAnimation class="row categories-container" *ngIf="!loadingData">
  <div class="col-md-3 mt-5" *ngFor="let category of categories">
    <div class="card profile-card-5 h-100">
      <div class="card-img-block">
        <img class="card-img-top" src="assets/img/default_category_image.jpeg">
      </div>
      <div class="card-body pt-0">
        <h5 class="card-title">{{ category.name }}</h5>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <span [routerLink]="'/categories/' + category.id" class="btn btn-round btn-sm btn-info">
          <i class="fa fa-info"></i> Go To Category Details
        </span>
      </div>
    </div>
  </div>