<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Categories list</h5>
                <p class="card-category">List of all registered categories</p>
            </div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Last changes 3 minutes ago
                </div>
            </div>
        </div>
    </div>
</div>