<div class="card profile-card-5 h-100">
  <div class="card-img-block">
    <img *ngIf="imageLoading" src="assets/img/default-image.jpg" alt="loading" />
    <a [href]="['/recipes/' + recipe.id ]">
      <img [hidden]="imageLoading" (load)="imageLoaded()" src="assets/img/default_recipe_image.jpg" />
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">
      <span class="btn btn-round btn-sm btn-success">
        <i class="fa fa-calendar"></i> Published: {{ recipe.createdAt | date:'dd.MM.yyyy'}}
      </span>
    <div class="related-categories-container" *ngIf="recipe.categories?.length > 0">
      <h6>Related Categories</h6>
      <span *ngFor="let category of recipe.categories">
        <a class="btn btn-primary btn-primary btn-sm btn-round" [href]="['/categories/' + category.id ]">
          <i class="fa fa-tag"></i> {{ category.name }}
        </a>
      </span>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <span>
      <a class="btn btn-round btn-sm btn-info" [href]="['/recipes/' + recipe.id ]">
        <i class="fa fa-info"></i> Read more details
      </a>
    </span>
  </div>
</div>