<footer class="text-center">
  <div class="container p-4">
    <section>
      <button class="btn btn-round twitter-button">
        <i class="fa fa-twitter fa-2x"></i>
      </button>

      <button class="btn btn-round google-button">
        <i class="fa fa-google fa-2x"></i>
      </button>

      <button class="btn btn-round linkedin-button">
        <i class="fa fa-linkedin fa-2x"></i>
      </button>

      <button class="btn btn-round github-button">
        <i class="fa fa-github fa-2x"></i>
      </button>
    </section>
  </div>
  <div class="text-center p-3">
    © 2021 Copyright:
    <a href="https://rdd.com.hr/">
      <strong>
        riverDeer
      </strong>
    </a>
  </div>
</footer>