footer {
  margin-top: 50px;
}


/* -- SOCIAL BUTTONS -- */

.twitter-button{
  background-color: #5da9dd !important;
}

.twitter-button:hover{
  background-color: #ffffff !important;
  color: #5da9dd !important;
}

.google-button{
  background-color: #ce4036 !important;
}

.google-button:hover{
  background-color: #ffffff !important;
  color: #ce4036 !important;
}

.linkedin-button{
  background-color: #0077b5 !important;
}

.linkedin-button:hover{
  background-color: #ffffff !important;
  color: #0077b5 !important;
}

.github-button{
  background-color: #000000 !important;
}

.github-button:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* -- SOCIAL BUTTONS -- */
