<form [formGroup]="editForm" (submit)="submit()">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  formControlName="isActive">
          Active
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="enter complexity level name here..."
          formControlName="name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="form-group">
        <label>Description</label>
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="form-group">
        <div class="form-group">
          <label>Complexity Weight</label>
          <input type="number" min="0" class="form-control" placeholder="enter complexity level weight here..."
            formControlName="complexityWeight">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3">
      <button type="submit" class="btn btn-primary btn-success">Save</button>
    </div>
  </div>
</form>
