<form [formGroup]="editForm" (submit)="submit()">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" formControlName="isActive">
          Active
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="enter recipe name here...">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <label>Complexity level</label>
      <app-complexity-level-selector [parentForm]="editForm" [complexityLevelId]="recipe.complexityLevelId">
      </app-complexity-level-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <label>Categories</label>
      <app-categories-selector [parentForm]="editForm" [recipeId]="recipe.id"></app-categories-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3">
      <button type="submit" class="btn btn-primary btn-success">Save changes</button>
    </div>
  </div>
</form>
