<div class="row">
  <div class="container mb-5">
    <h2><i class="nc-icon nc-zoom-split text-danger ml-2"></i> Find your recipe</h2>
  </div>
</div>

<form [formGroup]="filterForm" autocomplete="off" (submit)="filterRecipes()">
  <div class="row">
    <div class="col-lg-6 col-md-6  ">
      <div class="form-group">
        <label>Keyword</label>
        <input type="text" class="form-control" formControlName="keyword" placeholder="enter keyword here...">
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label>Related categories</label>
        <app-categories-selector [parentForm]="filterForm"></app-categories-selector>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label>From</label>
        <p-calendar 
          class="form-control datepicker" 
          dateFormat="dd.mm.yy" 
          formControlName="from"
          [touchUI]="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2021:2021"
          placeholder="enter start date here...">
        </p-calendar>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label>To</label>
        <p-calendar 
          class="form-control datepicker" 
          dateFormat="dd.mm.yy" 
          formControlName="to"
          [touchUI]="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2021:2021"
          placeholder="enter end date here...">
        </p-calendar>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 text-center">
      <button type="submit" class="btn btn-primary btn-block">
        Search <i class="nc-icon nc-zoom-split ml-2"></i></button>
    </div>
  </div>
</form>

<div class="row" *ngIf="loadingData">
  <span class="col-md-3 mt-5">
    Loading recipes...
  </span>
</div>

<div class="row recipes-container" *ngIf="!loadingData">
  <div class="col-lg-3 col-md-6 mt-5" *ngFor="let recipe of recipes">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>
</div>