<div class="container" *ngIf="loadingData">
  <span class="mt-5">
    Loading recipe...
  </span>
</div>

<div *ngIf="!loadingData" class="info">
  <img class="img img-fluid img-recipe" src="assets/img/default_recipe_image.jpg">
  <h4 class="info-title">
    {{recipe.name}}
  </h4>
  <p>
    <label>Time of creation: </label>
    {{recipe.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}
  </p>
  <p>
    <label>Last change: </label>
    {{recipe.updatedAt | date:'dd.MM.yyyy HH:mm:ss'}}
  </p>
  <p>
    <label>Status: </label>
    {{recipe.getStatus()}}
  </p>
  <p>
    <label>Description: </label>
    <span class="ml-1" [innerHtml]="recipe.description"></span>
  </p>
  <p>
    <label>Categories: </label>
    <span class="ml-1 mr-1" *ngFor="let category of recipe.categories">
      <a class="btn btn-primary btn-primary btn-sm btn-round" [routerLink]="['/admin/categories/' + category.id ]">
        <i class="fa fa-tag"></i> {{ category.name }}
      </a>
    </span>
  </p>
</div>