<p-menubar [model]="items">
  <ng-template pTemplate="item" let-item>
    <a [routerLink]="item.route"
       pRipple
       class="flex align-items-center p-menuitem-link">
      <i style="margin-right: 10px;" [class]="item.icon"></i>
      <span class="ml-2">{{ item.label }}</span>
      <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
        {{ item.shortcut }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto"/>
    </div>
  </ng-template>
</p-menubar>
