<div class="container-fluid">
  <app-home-navbar></app-home-navbar>
  <div class="container-fluid mt-5">
    <div class="row" *ngIf="loadingData">
      Loading data...
    </div>
    <div class="row" *ngIf="!loadingData">
      <div class="col-md-3 mt-5" *ngFor="let recipe of recipes">
        <div class="card profile-card-5 h-100">
          <div class="card-img-block">
            <img class="card-img-top" src="assets/img/default_recipe_image.jpg">
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">
              <span (click)="openCategoryPage(category.id)" *ngFor="let category of recipe.categories"
                class="btn btn-round btn-sm btn-primary">
                <i class="fa fa-bookmark"></i> {{ category.name }}
              </span>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <span (click)="openRecipePage(recipe.id)" class="btn btn-round btn-sm btn-info">
              <i class="fa fa-info"></i> Read more details
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <footer>
    Home page footer
  </footer>
</div>