<div class="row" *ngIf="loadingData">
  <span class="mt-5">
    Loading latest recipes...
  </span>
</div>
<div class="row" *ngIf="!loadingData">
  <div class="col-md-3 mt-5" *ngFor="let recipe of latestRecipes.latest">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>

  <a [href]="'/categories/'+ mostPopularCategory.id ">
    <h6>{{ mostPopularCategory.name }}</h6>
  </a>
  <div class="col-md-3 mt-5" *ngFor="let recipe of latestRecipes.mostPopularCategory">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>

  <a [href]="'/categories/'+ secondMostPopularCategory.id ">
    <h6>{{ secondMostPopularCategory.name }}</h6>
  </a>
  <div class="col-md-3 mt-5" *ngFor="let recipe of latestRecipes.secondMostPopularCategory">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>

  <a [href]="'/categories/'+ thirdMostPopularCategory.id ">
    <h6>{{ thirdMostPopularCategory.name }}</h6>
  </a>
  <div class="col-md-3 mt-5" *ngFor="let recipe of latestRecipes.thirdMostPopularCategory">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>
</div>