<a [href]="'/recipes/create'" class="btn btn-info float-right">
  Create new recipe
</a>

<table class="table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Complexity Level</th>
          <th class="text-right">Salary</th>
          <th class="text-center"></th>
      </tr>
  </thead>
  <tbody *ngIf="loadingData">Loading data...</tbody>
  <tbody *ngIf="!loadingData">
      <tr  *ngFor="let recipe of recipes">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.complexityLevel }}</td>
          <td>{{ recipe.createdAt | date:'short' }}</td>
          <td class="td-actions text-center">
            <button (click)="openInfoModal()" type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                <i class="fa fa-info"></i>
            </button>
            <button (click)="goToEditPage()" type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                <i class="fa fa-edit"></i>
            </button>
            <button (click)="openConfirmModal()" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="fa fa-times"></i>
            </button>
          </td>
      </tr>
  </tbody>
</table>