<div class="row">
  <div class="col-md-12">
    <button (click)="goBackToList()" type="button" class="btn btn-info btn-success">Go back</button>
    <app-complexity-level-details [id]="complexityLevelId"></app-complexity-level-details>
  <div class="row">
    <div class="col-md-6">
      <button (click)="goToEditPage()" type="button" class="btn btn-primary btn-success">Edit</button>
      <button (click)="goToConfirmDeletePage()" type="button" class="btn btn-danger btn-success">Delete</button>
    </div>
  </div>
  </div>
</div>