/* You can add global styles to this file, and also import other style files */

/* -- MULTISELECT -- */
.multiselect-dropdown .dropdown-btn {
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 4px !important;
  color: #66615b !important;
  line-height: normal !important;
  font-size: 14px !important;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out !important;
  box-shadow: none !important;
  padding: 10px !important;
}
/* -- MULTISELECT -- */

.sidebar .logo a.logo-normal,
.off-canvas-sidebar .logo a.logo-normal {
  padding: 11px !important;
}

/* -- DATATABLE -- */
.p-datatable .p-datatable-header {
  background: transparent !important;
  border: none !important;
  float: right;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  border-radius: 50px;
  background: #51bcda !important;
  color: #ffffff !important;
  font-weight: 600;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  border-radius: 50px;
}

.p-paginator .p-dropdown {
  padding-left: 10px;
  border-radius: 50px;
  height: 2.6rem !important;
}
/* -- DATATABLE -- */

/* -- CARD -- */
.card{
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 15%) !important;
}

.card .card-body{
  padding-bottom: 0 !important;
}

.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card-5 .card-img-block img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  max-width: 150px;
}
.profile-card-5 h5 {
  color: #4e5e30;
  font-weight: 600;
}
.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}
.profile-card-5 .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}
/* -- CARD -- */

/* -- HEADINGS -- */

h1{
  font-size: 3rem !important;
}

h1, h2 {
  margin-bottom: 0 !important;
}
/* -- HEADINGS -- */

/* -- DATEPICKER -- */

.p-calendar .p-inputtext{
  border: none !important;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 14px !important;
}

.p-calendar .p-inputtext:focus{
  box-shadow: none !important;
}

.datepicker {
  padding: 4px !important;
  width: 100% !important;
  display: grid !important;
}

/* -- DATEPICKER -- */

/* -- MULTISELECT -- */

.p-multiselect {
  border: none !important;
  width: 100%;
}

.multiselect{
  padding: 0 !important;
}

.p-checkbox .p-checkbox-box.p-highlight{
  border-color:#ef815742 !important;
  background: #da7750 !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token{
  background: #ef8157 !important;
  color: #fffafa !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
  background: #ef81570d !important;
}

.p-datepicker table td.p-datepicker-today > span{
  background: #51cbce !important;
  color: #fffafa !important;
}

.p-datepicker table td > span.p-highlight{
  background: #ef8157 !important;
  color: #fffafa !important;
}

/* -- MULTISELECT -- */

/* -- DROPDOWN -- */

.p-dropdown{
  width: 100%;
  border: none !important;
}

/* -- DROPDOWN -- */

