/* You can add global styles to this file, and also import other style files */

/* -- MULTISELECT -- */
.multiselect-dropdown .dropdown-btn {
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 4px !important;
  color: #66615b !important;
  line-height: normal !important;
  font-size: 14px !important;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out !important;
  box-shadow: none !important;
  padding: 10px !important;
}
/* -- MULTISELECT -- */

.sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal{
  padding: 11px !important;
}
