<form *ngIf="!loadingData" [formGroup]="createForm" (submit)="submit()">
  <div class="row">
    <div class="col-md-6 ">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="enter recipe name here..." formControlName="name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="form-group">
        <label>Description</label>
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <app-complexity-level-selector [parentForm]="createForm"></app-complexity-level-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <app-categories-selector [parentForm]="createForm"></app-categories-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3">
      <button type="submit" class="btn btn-primary btn-success">Save</button>
    </div>
  </div>
</form>