<form *ngIf="!loadingData" [formGroup]="createForm" (submit)="submit()">
  <div class="row">
    <div class="col-md-6 pr-1">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="enter recipe name here..." formControlName="name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pr-1">
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" placeholder="enter recipe description here..." formControlName="description">
        </textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pr-1">
      <label for="city">Select complexity level</label>
      <ng-multiselect-dropdown formControlName="complexityLevelId" [placeholder]="'select complexity-level'"
        [settings]="complexityLevelsDropdownSettings" [data]="complexityLevels">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pr-1">
      <label for="city">Select categories</label>
      <ng-multiselect-dropdown formControlName="categories" [placeholder]="'select categories'"
        [settings]="categoriesDropdownSettings" [data]="categories">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary btn-success">Save</button>
    </div>
  </div>
</form>