<div class="row login-container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Administration login</h5>
                <p class="card-category">Please login with admin credentials</p>
            </div>
            <div class="card-body">
                <lib-moms-kitchen-common></lib-moms-kitchen-common>
                <app-login-form></app-login-form>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    Need help <i class="fa fa-question"></i>
                </div>
            </div>
        </div>
    </div>
</div>
