<a [href]="'/categories/create'" class="btn btn-info float-right">
    Create new category
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody *ngIf="loadingData">Loading data...</tbody>
    <tbody *ngIf="!loadingData">
        <tr  *ngFor="let category of categories">
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.createdAt | date:'short' }}</td>
            <td class="td-actions text-center">
                <button (click)="openInfoModal()" type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                    <i class="fa fa-info"></i>
                </button>
                <button (click)="goToEditPage()" type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                    <i class="fa fa-edit"></i>
                </button>
                <button (click)="openConfirmModal()" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
  </table>